@import url(https://fonts.googleapis.com/css?family=Nunito);#toastem {
  position: fixed;
  z-index: 999;
  top: 12px;
  right: 12px;
}

.listClient,
.listBranches {
  cursor: pointer;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

a.btn-primary {
  color: #fff !important;
}

.pull-right {
  float: right;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.nounderline,
.violet {
  color: #7c4dff !important;
}

.btn-dark {
  background-color: #7c4dff !important;
  border-color: #7c4dff !important;
}

.btn-dark .file-upload {
  width: 100%;
  padding: 10px 0px;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.profile-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

